:root {
  --primary-color: #1e90ff;
  --background-color: #f0f0f0;
  --text-color: #000000;
  --secondary-text-color: #666666;
  --button-hover-color: #1c86ee;
  --modal-background-color: #ffffff;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.mainContainer {
  padding: 2rem;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

.Festeval {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.howToPlay {
  cursor: pointer;
  color: var(--secondary-text-color);
  margin-bottom: 2rem;
  transition: color 0.3s;
}

.howToPlay:hover {
  color: var(--primary-color);
}

select, button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 1rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover-color);
}

button:focus, select:focus {
  outline: none;
  box-shadow: 0 0 5px var(--primary-color);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.songList {
  margin-top: 2rem;
  text-align: left;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
