:root {
  --primary-color: #0B3954;
  --background-color: #f0f0f0;
  --text-color: #FF6663;
  --secondary-text-color: #666666;
  --button-hover-color: #E0FF4F;
  --modal-background-color: #ffffff;
}


.logout-button{
  position: absolute;
 
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  background: var(--modal-background-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
  max-height: 80%;
  max-width: 60%;
}

.Festeval {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.howToPlay {
  cursor: pointer;
  color: var(--secondary-text-color);
  margin-bottom: 2rem;
  transition: color 0.3s;
}

.howToPlay:hover {
  color: var(--primary-color);
}

select, button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 1rem;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover-color);
}

button:focus, select:focus {
  outline: none;
  box-shadow: 0 0 5px var(--primary-color);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.songList {
  flex-grow: 1;
  overflow-y: auto;
  text-align: left;
  padding-right: 0.5rem; /* To ensure scrollbar doesn't overlap content */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


.artistCard {
  padding: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
}

.artistCard p {
  margin: 0;
  padding-left: 10px; /* Slight indentation for all p tags within artistCard */
}

.artistDiv {
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: var(--modal-background-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.artistInfo {
  margin: 0.5rem 0; /* Slight margin for individual p tags within artistDiv */
  padding-left: 10px; /* Slight indentation for all p tags within artistDiv */
}

.highlight {
    background-color: #FF6663; /* Or any other highlight color */
}

ul {
  list-style-type: none;
  align-content: left;
}